{% extends 'base.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block body %}
    <h1>Item edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <button type="submit" class="btn btn-primary btn-block">Edit</button>
    {{ form_end(edit_form) }}

    <br/>

    <a href="{{ path('item_index') }}">
        <div class="btn btn-primary btn-block">Back to the list</div>
    </a>

    <br/>

    {{ form_start(delete_form) }}
    <button type="submit" class="btn btn-danger btn-block">Delete</button>
    {{ form_end(delete_form) }}
{% endblock %}
