{% extends 'base.html.twig' %}

{% block body %}
    <h1>Item list</h1>

    <a href="{{ path('item_new') }}">
        <div class="btn btn-primary btn-block">Create new item</div>
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td><a href="{{ path('item_show', { 'id': item.id }) }}">{{ item.id }}</a></td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>
                    <a href="{{ path('item_show', { 'id': item.id }) }}"><div class="btn btn-primary">show</div></a>
                    <a href="{{ path('item_edit', { 'id': item.id }) }}"><div class="btn btn-primary">edit</div></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
