{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block body %}
    <h1>Item creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary btn-block">Create</button>
    {{ form_end(form) }}

    <br/>

    <a href="{{ path('item_index') }}">
        <div class="btn btn-primary btn-block">Back to the list</div>
    </a>
{% endblock %}
