{% extends 'base.html.twig' %}

{% block body %}
    <h1>Item</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ item.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ item.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ item.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('item_index') }}">
        <div class="btn btn-primary btn-block">Back to the list</div>
    </a>

    <br/>

    <a href="{{ path('item_edit', { 'id': item.id }) }}">
        <div class="btn btn-primary btn-block">Edit</div>
    </a>

    <br/>

    {{ form_start(delete_form) }}
    <button type="submit" class="btn btn-danger btn-block">Delete</button>
    {{ form_end(delete_form) }}
{% endblock %}
